<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/main.js' %}"></script>
    <title>Document</title>
  </head>
  <body>
    <main id="centered">
      <header id="main-section">
        <div id="main-heading">
          <h1>TODO LIST</h1>
        </div>
        <div id="sub-heading">
          <a href="/todos/add">Add Todo</a>
         <!--  <a href="/todos/delete">Delete Todo</a> -->
        </div>
      </header> 

